h1{ 
    color:white;
    background-color: red;
}
*{ background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;



}
.T1{
    color: white;
}
span{ color: white;
    font-size: 20px;



}